/* Styles for Survey Taker */
.progress-bar {
    transition: width 0.5s ease;
}


.survey-description {
    background-color: transparent;
    color: white;
    padding: 15px 20px;
    border-radius: 8px;
    margin-top: 10px;
    font-size: 1rem;
    line-height: 1.6;
}

/* Override text-muted for survey description */
.text-muted {
    color: white !important;
}

/* Botón de Finalización con pulso */
.animate-pulse {
    animation: pulse 2s infinite;
}

@keyframes pulse {
    0% {
        transform: scale(1);
        box-shadow: 0 0 0 0 rgba(46, 204, 113, 0.7);
    }

    70% {
        transform: scale(1.02);
        box-shadow: 0 0 0 10px rgba(46, 204, 113, 0);
    }

    100% {
        transform: scale(1);
        box-shadow: 0 0 0 0 rgba(46, 204, 113, 0);
    }
}